In [56]:
import tensorflow as tf
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression


# Initiate TF

MyMessage = tf.constant("Test")
mysession = tf.Session()
print(mysession.run(MyMessage))

x = tf.constant(1)
y = tf.constant(2)
print(mysession.run(x + y))

b'Test'
3

In [46]:
train = pd.read_csv('sample_pcap.csv', delimiter=',', encoding="utf-8-sig")
train.head()

,x,y,z,a,b,c,d,e,
0,1.1.1.1,2.2.2.2,11,22,TCP,1459404174,NaN,...[SYN]...Seq=0...LEN=0,NaN
1,1.1.1.1,2.2.2.3,11,22,TCP,1459404175,NaN,...[SYN]...Seq=0...LEN=0,NaN
2,1.1.1.1,2.2.2.4,11,22,TCP,1459404176,NaN,...[SYN]...Seq=0...LEN=0,NaN
3,1.1.1.1,2.2.2.5,11,22,TCP,1459404177,NaN,...[SYN]...Seq=0...LEN=0,NaN
4,1.1.1.1,2.2.2.6,11,22,TCP,1459404178,NaN,...[SYN]...Seq=0...LEN=0,NaN

In [47]:
train.columns

Index(['x', ' y', ' z', ' a', ' b', ' c', ' d', ' e', ' '], dtype='object')

In [48]:
train.convert_objects(convert_numeric=True).dtypes

/Users/jordansauchuk/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

x      object
 y     object
 z      int64
 a      int64
 b     object
 c      int64
 d     object
 e     object
      float64
dtype: object

In [49]:
train = train.apply(pd.to_numeric, errors='coerce')
train.head(10)

#s = pandas.Series(list('xyzabcde'))
#pandas.get_dummies(s)

    x   y   z   a   b           c   d   e
0 NaN NaN  11  22 NaN  1459404174 NaN NaN NaN
1 NaN NaN  11  22 NaN  1459404175 NaN NaN NaN
2 NaN NaN  11  22 NaN  1459404176 NaN NaN NaN
3 NaN NaN  11  22 NaN  1459404177 NaN NaN NaN
4 NaN NaN  11  22 NaN  1459404178 NaN NaN NaN
5 NaN NaN  11  22 NaN  1459404179 NaN NaN NaN
6 NaN NaN  11  22 NaN  1459404180 NaN NaN NaN
7 NaN NaN  11  22 NaN  1459404181 NaN NaN NaN
8 NaN NaN  11  22 NaN  1459404182 NaN NaN NaN
9 NaN NaN  11  22 NaN  1459404183 NaN NaN NaN

In [51]:
train.fillna(0)

      x    y     z      a    b           c    d    e
0   0.0  0.0    11     22  0.0  1459404174  0.0  0.0  0.0
1   0.0  0.0    11     22  0.0  1459404175  0.0  0.0  0.0
2   0.0  0.0    11     22  0.0  1459404176  0.0  0.0  0.0
3   0.0  0.0    11     22  0.0  1459404177  0.0  0.0  0.0
4   0.0  0.0    11     22  0.0  1459404178  0.0  0.0  0.0
5   0.0  0.0    11     22  0.0  1459404179  0.0  0.0  0.0
6   0.0  0.0    11     22  0.0  1459404180  0.0  0.0  0.0
7   0.0  0.0    11     22  0.0  1459404181  0.0  0.0  0.0
8   0.0  0.0    11     22  0.0  1459404182  0.0  0.0  0.0
9   0.0  0.0    11     22  0.0  1459404183  0.0  0.0  0.0
10  0.0  0.0    11     22  0.0  1459404184  0.0  0.0  0.0
11  0.0  0.0    11     22  0.0  1459404185  0.0  0.0  0.0
12  0.0  0.0    11     22  0.0  1459404186  0.0  0.0  0.0
13  0.0  0.0    11     22  0.0  1459404187  0.0  0.0  0.0
14  0.0  0.0    11     22  0.0  1459404188  0.0  0.0  0.0
15  0.0  0.0    11     22  0.0  1459404189  0.0  0.0  0.0
16  0.0  0.0    11     22  0.0  1459404190  0.0  0.0  0.0
17  0.0  0.0    11     22  0.0  1459404191  0.0  0.0  0.0
18  0.0  0.0    11     22  0.0  1459404192  0.0  0.0  0.0
19  0.0  0.0    11     22  0.0  1459404193  0.0  0.0  0.0
20  0.0  0.0    11     22  0.0  1459404194  0.0  0.0  0.0
21  0.0  0.0    11     22  0.0  1459404195  0.0  0.0  0.0
22  0.0  0.0    11     22  0.0  1459404196  0.0  0.0  0.0
23  0.0  0.0    11     22  0.0  1459404197  0.0  0.0  0.0
24  0.0  0.0    11     22  0.0  1459404198  0.0  0.0  0.0
25  0.0  0.0    11     22  0.0  1459404199  0.0  0.0  0.0
26  0.0  0.0    11     22  0.0  1459404200  0.0  0.0  0.0
27  0.0  0.0    11     22  0.0  1459404201  0.0  0.0  0.0
28  0.0  0.0    11     22  0.0  1459404202  0.0  0.0  0.0
29  0.0  0.0    11     22  0.0  1459404203  0.0  0.0  0.0
..  ...  ...   ...    ...  ...         ...  ...  ...  ...
61  0.0  0.0    11     22  0.0  1459404235  0.0  0.0  0.0
62  0.0  0.0    11     22  0.0  1459404236  0.0  0.0  0.0
63  0.0  0.0    11     22  0.0  1459404237  0.0  0.0  0.0
64  0.0  0.0  1058     80  0.0  1459404238  0.0  0.0  0.0
65  0.0  0.0  1058     80  0.0  1459404239  0.0  0.0  0.0
66  0.0  0.0  1058     80  0.0  1459404240  0.0  0.0  0.0
67  0.0  0.0  1058     80  0.0  1459404241  0.0  0.0  0.0
68  0.0  0.0  1058     80  0.0  1459404242  0.0  0.0  0.0
69  0.0  0.0  1058     80  0.0  1459404243  0.0  0.0  0.0
70  0.0  0.0  1058     80  0.0  1459404244  0.0  0.0  0.0
71  0.0  0.0  1058     80  0.0  1459404245  0.0  0.0  0.0
72  0.0  0.0  1058     80  0.0  1459404246  0.0  0.0  0.0
73  0.0  0.0  1058     80  0.0  1459404247  0.0  0.0  0.0
74  0.0  0.0  1058     80  0.0  1459404248  0.0  0.0  0.0
75  0.0  0.0  1058     80  0.0  1459404249  0.0  0.0  0.0
76  0.0  0.0  1058     80  0.0  1459404250  0.0  0.0  0.0
77  0.0  0.0  1058     80  0.0  1459404251  0.0  0.0  0.0
78  0.0  0.0  1295  41422  0.0  1459404252  0.0  0.0  0.0
79  0.0  0.0  1296  41422  0.0  1459404253  0.0  0.0  0.0
80  0.0  0.0  1297  10298  0.0  1459404254  0.0  0.0  0.0
81  0.0  0.0  1294  10298  0.0  1459404255  0.0  0.0  0.0
82  0.0  0.0  1294  10298  0.0  1459404256  0.0  0.0  0.0
83  0.0  0.0  1294  10298  0.0  1459404257  0.0  0.0  0.0
84  0.0  0.0  1058     80  0.0  1459404258  0.0  0.0  0.0
85  0.0  0.0    11     22  0.0  1459404259  0.0  0.0  0.0
86  0.0  0.0    11     22  0.0  1459404260  0.0  0.0  0.0
87  0.0  0.0    11     22  0.0  1459404261  0.0  0.0  0.0
88  0.0  0.0    11     22  0.0  1459404262  0.0  0.0  0.0
89  0.0  0.0    11     22  0.0  1459404263  0.0  0.0  0.0
90  0.0  0.0    11     22  0.0  1459404264  0.0  0.0  0.0

[91 rows x 9 columns]

In [1]:
#pandas.get_dummies(data=train, columns=[''])

In [60]:
train.shape
y, X = train['x'], train[[' y', ' c', ' z']].fillna(0)

In [ ]:
X_Modeltrain, X_Modeltest, y_Modeltrain, y_Modeltest = train_test_split(X, y, test_size=0.1, random_state=29)
lr = LogisticRegression()
lr.fit(X_Modeltrain, y_Modeltrain)
print (accuracy_score(y_Modeltest, lr.predict(X_Modeltest)))